/*
 * for footer style
 */

footer {
  background-color: #00FF00;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
